#flexContainer {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Right,
.Left {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #16a085;
    color: #fefb1e;
    width: 20%;
    height: 500px;
    padding-top: 10px;
}

.Right img,
.Left img {
    width: 35%;
    height: 50%;
}

.Left {
    align-items: center;
}

.Right {
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

button {
    position: relative;
    margin: 10% auto;
    background-color: #62C8E4;
    color: #fefb1e;
    height: 30px;
    padding: 6px 6px 6px 6px;
}